body {
  font-family: sans-serif;
  padding: 20px;
  background-color: var(--dark);
  color: var(--blue);
}

h1 {
  margin-bottom: 20px;
}

#gamearea {
  display: flex;
  gap: 40px;
  justify-content: center;
}

h2 {
  margin-bottom: 10px;
}

:root {
  --red: #c1121f;
  --light: #fdf0d5;
  --dark: #00283d;
  --blue: #8eb5cd;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#human-board,
#computer-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid var(--light);
  background-color: var(--blue);
  cursor: pointer;
}

.ship {
  background-color: var(--dark);
}

.hit {
  background-color: var(--red);
}

.miss {
  background-color: var(--light);
}
.valid {
  background-color: lightgreen;
}
.invalid {
  background-color: var(--red);
}
#computer-board .cell:hover {
  background-color: steelblue;
  cursor: pointer;
}

#human-board.placement-active .cell {
  cursor: pointer;
}
#human-board .cell {
  cursor: default;
}
.hide {
  display: none;
}
